@model JPExchange_v01.Models.CategoryModel

<ul id="sideManu" class="nav nav-tabs nav-stacked">
@for (var i = 0; i < Model.ListCategory.Count ; i++) {
    <li class="subMenu open">
        <a> @Model.ListCategory[i].Name</a>
        @if (@Model.ListCategory[i].ListChildCategory.Count > 0)
        {
        <ul>
            @for (var j = 0; j < Model.ListCategory[i].ListChildCategory.Count ; j++) {
                <li><a href="/Category/ListPost/@Model.ListCategory[i].ListChildCategory[j].Id"><i class="icon-chevron-right"></i>@Model.ListCategory[i].ListChildCategory[j].Name</a></li>
            }

        </ul>
        }

    </li>
}
    
</ul>